/*components*/
body {
  background-color: #ECECEC; }

/*general*/
.container {
  padding: 0px; }

.site-container {
  background-color: white;
  margin: 30px auto; }

.nav-height {
  height: 70px; }

.nav-here {
  background-color: #ECECEC;
  width: 100%; }

.phone-num {
  width: 240px;
  height: 40px;
  float: right; }
  .phone-num img {
    height: 100%; }

.container-fluid {
  padding: 30px; }

.logo {
  width: 150px; }

.navbar-brand {
  padding: 0; }

.navbar-collapse {
  padding-right: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.nav-bar {
  float: right;
  margin-top: 10px; }
  .nav-bar .contact {
    padding-right: 0px; }

.navbar-toggle {
  margin-right: 0px; }

nav.navbar.navbar-default {
  display: inline;
  display: right;
  padding: 0px; }

.navbar-nav > li > a {
  line-height: 0px; }

.main {
  background: #87e0fd;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #0661d8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #0661d8));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #0661d8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #0661d8 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #0661d8 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #87e0fd 0%, #53cbf1 40%, #0661d8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#0661d8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 390px; }

.about-service {
  background-color: #ECECEC; }

.bullets {
  display: table;
  width: 65%;
  float: left; }
  .bullets .ser-intro {
    margin-bottom: 30px; }
    .bullets .ser-intro h1 {
      font-size: 60px;
      font-weight: bold;
      color: black; }
    .bullets .ser-intro h1, .bullets .ser-intro h4 {
      margin-top: 5px; }
  .bullets .ser {
    width: 50%;
    float: left;
    display: table-cell;
    font-size: 20px;
    font-family: fantasy;
    color: white;
    text-shadow: 1px 1px 2px #002853;
    letter-spacing: 2px; }

.logoman-comp {
  float: right;
  width: 35%;
  height: 300px; }
  .logoman-comp img {
    float: right; }

.intro-ser {
  text-align: center; }

.three-comps {
  width: 100%;
  display: table; }
  .three-comps .comp-box {
    margin: 10px;
    box-shadow: 0px 1px 2px #CFCFCF;
    padding: 5%;
    background-color: white; }
  .three-comps .comp {
    padding: 2%;
    width: 33.33%;
    display: table-cell; }
    .three-comps .comp .comp1, .three-comps .comp .comp2, .three-comps .comp .comp3 {
      text-align: center; }
    .three-comps .comp img {
      width: 200px;
      margin: 0 auto; }
