/*components*/
@import 'breakpoint';
@mixin section-block {
	width: 100%;
	background-image: url('../img/hr.png');
	background-repeat: no-repeat;
	background-position-x: center;
	margin-top: 20px;
	background-size: 100%;
	@include breakpoint(sm) {
		background-size: 60%;
	}
}

body {
	background-color: #F1F1F1;
	
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	font-weight: bold;
	background-color: transparent;
}

a {
	color: #003C70;
}
table {
	width: 100%;
	border-color: gray !important;
	

}

h2 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;

}

.tg  {border-collapse:collapse;border-spacing:0; background-color: white;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; }
.th tr {margin: 10px 0;}

/*general*/
.container {
	padding: 0px;
	position:relative;
}
.container-fluid {
	padding: 25px;
}




.site-container {
	
}

// NAVIGATION BAR
.navbar {
	margin-bottom: 0px;
	.navbar-brand{
		padding: 0px 15px;
		.a {
			padding: 0px;
		}
		img {
			width: 80px;
			float: right;
		}
	}
	.navbar-right {
		display: block;
		img {
			width: 150px;
		}
		@-webkit-keyframes shake{
			0%{-webkit-transform:translate(1px,0px) rotate(0deg);}
			10%{-webkit-transform:translate(-0px,-12px) rotate(-1deg);}
			20%{-webkit-transform:translate(-2px,0px) rotate(1deg);}
			30%{-webkit-transform:translate(0px,1px) rotate(0deg);}
			40%{-webkit-transform:translate(0px,-1px) rotate(1deg);}
			50%{-webkit-transform:translate(0px,1px) rotate(-1deg);}
			60%{-webkit-transform:translate(-1px,0px) rotate(0deg);}
			70%{-webkit-transform:translate(1px,0px) rotate(-1deg);}
			80%{-webkit-transform:translate(-1px,-1px) rotate(1deg);}
			90%{-webkit-transform:translate(1px,1px) rotate(0deg);}
			100%{-webkit-transform:translate(1px,-1px) rotate(-1deg);}
		}
		a:hover {
			-webkit-animation-name: 'shake';
			-webkit-animation-duration: 0.8s;
			-webkit-transform-origin: 50% 50%;
			-webkit-animation-iteration-count: 1s;
			-webkit-animation-timing-function: linear;
		}
	
	}
	
}



//main area

	.main {
		// background-color: rgb(223, 107, 0);
		background: #3686be;
		background: -moz-linear-gradient(45deg,#3686be 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
		background: -webkit-gradient(linear,left bottom,right top,color-stop(0,#3686be),color-stop(36%,#0489c3),color-stop(66%,#30cabf),color-stop(100%,#2fbcb2));
		background: -webkit-linear-gradient(45deg,#3686be 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
		background: -o-linear-gradient(45deg,#3686be 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
		background: -ms-linear-gradient(45deg,#3686be 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
		background: linear-gradient(45deg,#3686be 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3686be',endColorstr='#2fbcb2',GradientType=1);
		
	}

	.bullets {
		
		text-align: center;
		.ser-intro {
			margin-bottom: 30px;
			h1 {
				font-size: 65px;
				font-weight: bold;
				color: white;
				letter-spacing: -5px;
				line-height: 55px;
			}
			h1, h4 {
				margin-top: 5px;
			}
			h3 {
				color: white;
			}
		}
	}

	.logoman-comp {
		text-align: center;
		@include breakpoint (sm) {
			height: 240px;
		}
		img {
			height: 240px;
			@include breakpoint (sm) {
				height: 240px;
			}
		}
	}
	.whatSer {
	
		.ser{
			display: table;
			font-size: 15px;
			font-family: sans-serif;
			color: white;
			text-shadow: 0px 0px 1px rgb(0, 40, 83);
			letter-spacing: 2px;
			height: 30px;
			background-color: #3686be;
			margin: 3px;
			padding: 3px;
			text-align: center;
			border-radius: 2px;
			width: 100%;
			&:hover {
				background-color: #035680;
			}
			a {
				color: white;
				&:hover {
					text-decoration: none;
					

				}
			}
			@include breakpoint(sm) {
				width: 30%;
				float: left;
				display: table-cell;
			}
		}

	}

	
	.intro-ser {
		text-align: center;
	}
	.three-comps {
		width: 100%;
		display: table;
		.comp-box {
			margin: 10px;
			padding: 5%;
			text-align: center;
		}
		p {
			color: gray
		}
		.comp {
			@include breakpoint(sm) {
				padding: 2%;
				width: 33.33%;
				display: table-cell;
			}
			.comp1, .comp2, .comp3 {
				text-align: center;
			}
			img {
				width: 200px;
				margin: 0 auto;
			}
		}
	}

	.our-service {
	   	@include section-block;
		.dropdown {
			@include breakpoint(sm) {
				width: 70%;
				float: left;
			}
			.panel-heading {
				border-radius: 0px;
			}
			.panel-default > .panel-heading {
				color: black;
				font-weight: bold;
				background-color: #3686be;
				a {
					color: white;
					text-decoration: none;
				
				}

				&:hover {
					background-color: #035680;
				}
				
			}
		}

		.needs {
			padding: 15px;
			@include breakpoint(sm) {
				float: right;
				width: 25%;
				margin-left: 10px;
			}
			.image-of-logoman {
				text-align: right;
				img {
					width: 200px;
					@include breakpoint(sm) {
						width: 65%;
					}
				}
			}
			.comp-needs-offer {
			}
		}
	}

.prices {
	.prices-details {
		display: none;
	}
	.virus-comp {
		width: 100%;
		height: auto;
		
		.need-quote-call {
			color: white;
			letter-spacing: 2px;
			padding: 1%;
			text-align: center;
			height: auto;
			background: #58ccef; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover,  #58ccef 1%, #00a6e8 100%); /* FF3.6+ */
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#58ccef), color-stop(100%,#00a6e8)); /* Chrome,Safari4+ */
			background: -webkit-radial-gradient(center, ellipse cover,  #58ccef 1%,#00a6e8 100%); /* Chrome10+,Safari5.1+ */
			background: -o-radial-gradient(center, ellipse cover,  #58ccef 1%,#00a6e8 100%); /* Opera 12+ */
			background: -ms-radial-gradient(center, ellipse cover,  #58ccef 1%,#00a6e8 100%); /* IE10+ */
			background: radial-gradient(ellipse at center,  #58ccef 1%,#00a6e8 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ccef', endColorstr='#00a6e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			h4 {
				margin:  15px;
			}
			@include breakpoint(sm) {
			}

		}
		.img-virus-comp {
			padding: 20px;
			@include breakpoint(sm) {
				text-align: center;
			}
			img {
				min-width: 125px;
				max-width: 200px;
			}
		}
	}

	.discount {
		background-color: orange;
		text-align: center;
		padding:10px;
		color: white;
		h2 {
			margin: 0;
		}
	}

	@include section-block;
	@include breakpoint (sm) {
		.prices-details {
			display: block;
			padding: 40px;
			background-color: white;
		}

		.small-table {
			display: none;
			.shadow {
				vertical-align: middle;
				width: 100%;
			}
		}
	}

	

}


.service-areas {
	padding-top: 50px;
	.service-here {
		.table-ser {
			-webkit-column-count: 2;
	       	-moz-column-count: 2;
	         column-count: 2;
			vertical-align: top;
			.b {
				font-weight: bold;
			}

			@include breakpoint(sm) {
				-webkit-column-count: 6;
	       		-moz-column-count: 6;
	            column-count: 6;
	        }
			li {
				display: list-item;
				list-style-type: none;
			}


		}
	}
	@include section-block;

	
}


.contact-us-full {
		
	background: #0084c5;
	background: -moz-linear-gradient(45deg,#0084c5 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
	background: -webkit-gradient(linear,left bottom,right top,color-stop(0,#0084c5),color-stop(36%,#0489c3),color-stop(66%,#30cabf),color-stop(100%,#2fbcb2));
	background: -webkit-linear-gradient(45deg,#0084c5 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
	background: -o-linear-gradient(45deg,#0084c5 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
	background: -ms-linear-gradient(45deg,#0084c5 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
	background: linear-gradient(45deg,#0084c5 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0084c5',endColorstr='#2fbcb2',GradientType=1);
	@include breakpoint(sm) {

		height: 80vh;
	}
	.contact-us {
		padding-top: 60px;
	}
	h2 {
		float: left;
		color: white;
	}
	.form {
		@include breakpoint (sm) {
			width: 60%;
			float: left;
		}
		
		.input {
			margin-bottom: 10px;
			border: none;
			border-radius: 0px;
		}
		.sub {
			width: 100%;
			background-color: #035680;
			border: none;
			height: 50px;
			font-size: 22px;
			font-weight: bold;
			color: white;
			@include breakpoint (sm) {
				width: 250px;
			}
		}

	}
	.logoman-talk {

		padding-top: 30px;
		img {
			width: 60%;
		}
		@include breakpoint (sm){
			width: 30%;
			float: right;
			img {width: 80%;}
		}
	}
}

.productsRec {
	text-align: center;
	padding-top: 10px;
	@include section-block;
	h4 {
		color: rgb(201, 201, 201);
		text-shadow: 1px 1px 1px #fff;
	}
	img {
		-webkit-filter: grayscale(100%); filter: grayscale(100%);
		width: 80px;
		opacity: 0.3;
		&:hover {
			-webkit-filter: grayscale(0%); filter: grayscale(0%);
			opacity: 0.8;
		}

	}
	
}

.footer {
	hr {
		margin: 5px 0;
	}
	.usHere {
		background-color: #2e3234;
		color: gray;
		.whiteLogo {
			width: 100px !important;
			-webkit-filter: grayscale(0%); filter: grayscale(0%); 
		}
		.social {
			-webkit-filter: grayscale(100%); filter: grayscale(100%);
			width: 25px;
			opacity: 0.5;
			&:hover {
				-webkit-filter: grayscale(0%); filter: grayscale(0%);
				opacity: 1;
			}
		}
	}
	.meV  {
		width: 20px !important;
	}
}