/*components*/
body {
  background-color: #F1F1F1; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  font-weight: bold;
  background-color: transparent; }

a {
  color: #003C70; }

table {
  width: 100%;
  border-color: gray !important; }

h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px; }

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white; }

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: none;
  border-width: 0px;
  overflow: hidden;
  word-break: normal; }

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal; }

.th tr {
  margin: 10px 0; }

/*general*/
.container {
  padding: 0px;
  position: relative; }

.container-fluid {
  padding: 25px; }

.navbar {
  margin-bottom: 0px; }
  .navbar .navbar-brand {
    padding: 0px 15px; }
    .navbar .navbar-brand .a {
      padding: 0px; }
    .navbar .navbar-brand img {
      width: 80px;
      float: right; }
  .navbar .navbar-right {
    display: block; }
    .navbar .navbar-right img {
      width: 150px; }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 0px) rotate(0deg); }
  10% {
    -webkit-transform: translate(0px, -12px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 1px) rotate(0deg); }
  40% {
    -webkit-transform: translate(0px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(0px, 1px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg); }
  70% {
    -webkit-transform: translate(1px, 0px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 1px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -1px) rotate(-1deg); } }
    .navbar .navbar-right a:hover {
      -webkit-animation-name: 'shake';
      -webkit-animation-duration: 0.8s;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-iteration-count: 1s;
      -webkit-animation-timing-function: linear; }

.main {
  background: #3686be;
  background: -moz-linear-gradient(45deg, #3686be 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #3686be), color-stop(36%, #0489c3), color-stop(66%, #30cabf), color-stop(100%, #2fbcb2));
  background: -webkit-linear-gradient(45deg, #3686be 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -o-linear-gradient(45deg, #3686be 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -ms-linear-gradient(45deg, #3686be 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: linear-gradient(45deg, #3686be 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3686be',endColorstr='#2fbcb2',GradientType=1); }

.bullets {
  text-align: center; }
  .bullets .ser-intro {
    margin-bottom: 30px; }
    .bullets .ser-intro h1 {
      font-size: 65px;
      font-weight: bold;
      color: white;
      letter-spacing: -5px;
      line-height: 55px; }
    .bullets .ser-intro h1, .bullets .ser-intro h4 {
      margin-top: 5px; }
    .bullets .ser-intro h3 {
      color: white; }

.logoman-comp {
  text-align: center; }
  @media (min-width: 768px) {
    .logoman-comp {
      height: 240px; } }
  .logoman-comp img {
    height: 240px; }
    @media (min-width: 768px) {
      .logoman-comp img {
        height: 240px; } }

.whatSer .ser {
  display: table;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  text-shadow: 0px 0px 1px #002853;
  letter-spacing: 2px;
  height: 30px;
  background-color: #3686be;
  margin: 3px;
  padding: 3px;
  text-align: center;
  border-radius: 2px;
  width: 100%; }
  .whatSer .ser:hover {
    background-color: #035680; }
  .whatSer .ser a {
    color: white; }
    .whatSer .ser a:hover {
      text-decoration: none;
      font-weight: bold; }
  @media (min-width: 768px) {
    .whatSer .ser {
      width: 30%;
      float: left;
      display: table-cell; } }

.intro-ser {
  text-align: center; }

.three-comps {
  width: 100%;
  display: table; }
  .three-comps .comp-box {
    margin: 10px;
    padding: 5%;
    text-align: center; }
  .three-comps p {
    color: gray; }
  @media (min-width: 768px) {
    .three-comps .comp {
      padding: 2%;
      width: 33.33%;
      display: table-cell; } }
  .three-comps .comp .comp1, .three-comps .comp .comp2, .three-comps .comp .comp3 {
    text-align: center; }
  .three-comps .comp img {
    width: 200px;
    margin: 0 auto; }

.our-service {
  width: 100%;
  background-image: url("../img/hr.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 20px;
  background-size: 100%; }
  @media (min-width: 768px) {
    .our-service {
      background-size: 60%; } }
  @media (min-width: 768px) {
    .our-service .dropdown {
      width: 70%;
      float: left; } }
  .our-service .dropdown .panel-heading {
    border-radius: 0px; }
  .our-service .dropdown .panel-default > .panel-heading {
    color: black;
    font-weight: bold;
    background-color: #ABBECE; }
  .our-service .needs {
    padding: 15px; }
    @media (min-width: 768px) {
      .our-service .needs {
        float: right;
        width: 25%;
        margin-left: 10px; } }
    .our-service .needs .image-of-logoman {
      text-align: right; }
      .our-service .needs .image-of-logoman img {
        width: 65%; }
    .our-service .needs .comp-needs-offer {
      padding: 20px;
      background-color: white; }

.prices {
  width: 100%;
  background-image: url("../img/hr.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 20px;
  background-size: 100%; }
  .prices .prices-details {
    display: none; }
  .prices img {
    width: 100%; }
  @media (min-width: 768px) {
    .prices .virus-comp {
      width: 75%;
      float: left; } }
  .prices .virus-comp .need-quote-call {
    background: #58ccef;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #58ccef), color-stop(100%, #00a6e8));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #58ccef 1%, #00a6e8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ccef', endColorstr='#00a6e8',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    color: white;
    width: 90%;
    letter-spacing: 2px;
    padding: 1%;
    text-align: right;
    float: right; }
  .prices .virus-comp .img-virus-comp {
    width: 10%;
    float: left; }
    .prices .virus-comp .img-virus-comp img {
      min-width: 125px; }
  @media (min-width: 768px) {
    .prices {
      background-size: 60%; } }
  @media (min-width: 768px) {
    .prices .prices-details {
      display: block;
      padding: 15px;
      background-color: white; }
    .prices .small-table {
      display: none; } }

.service-areas {
  padding-top: 50px;
  width: 100%;
  background-image: url("../img/hr.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 20px;
  background-size: 100%; }
  @media (min-width: 768px) {
    .service-areas {
      background-size: 60%; } }

.contact-us-full {
  background: #0084c5;
  background: -moz-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #0084c5), color-stop(36%, #0489c3), color-stop(66%, #30cabf), color-stop(100%, #2fbcb2));
  background: -webkit-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -o-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -ms-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0084c5',endColorstr='#2fbcb2',GradientType=1); }
  .contact-us-full .contact-us {
    padding-top: 60px; }
  .contact-us-full h2 {
    float: left;
    color: white; }
  @media (min-width: 768px) {
    .contact-us-full .form {
      width: 60%;
      float: left; } }
  .contact-us-full .form .input {
    margin-bottom: 10px;
    border: none;
    border-radius: 0px; }
  .contact-us-full .form .sub {
    width: 100%;
    background-color: #035680;
    border: none;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    color: white; }
    @media (min-width: 768px) {
      .contact-us-full .form .sub {
        width: 250px; } }
  .contact-us-full .logoman-talk {
    padding-top: 30px; }
    .contact-us-full .logoman-talk img {
      width: 60%; }
    @media (min-width: 768px) {
      .contact-us-full .logoman-talk {
        width: 30%;
        float: right; }
        .contact-us-full .logoman-talk img {
          width: 80%; } }

.productsRec {
  text-align: center;
  padding-top: 10px;
  width: 100%;
  background-image: url("../img/hr.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 20px;
  background-size: 100%; }
  @media (min-width: 768px) {
    .productsRec {
      background-size: 60%; } }
  .productsRec h4 {
    color: #c9c9c9;
    text-shadow: 1px 1px 1px #fff; }
  .productsRec img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 80px;
    opacity: 0.3; }
    .productsRec img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 0.8; }

.footer hr {
  margin: 5px 0; }
.footer .usHere {
  background-color: #2e3234;
  color: gray; }
  .footer .usHere .whiteLogo {
    width: 100px !important;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .footer .usHere .social {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 25px;
    opacity: 0.5; }
    .footer .usHere .social:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 1; }
.footer .meV {
  width: 20px !important; }
