/*components*/
body {
  background-color: #F1F1F1; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  font-weight: bold;
  background-color: transparent; }

a {
  color: #003C70; }

table {
  width: 100%;
  border-color: gray !important; }

h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px; }

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white; }

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: none;
  border-width: 0px;
  overflow: hidden;
  word-break: normal; }

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal; }

.th tr {
  margin: 10px 0; }

/*general*/
.container {
  padding: 0px; }

.container-fluid {
  padding: 25px; }

.navbar {
  margin-bottom: 0px; }
  .navbar .navbar-brand {
    padding: 0px 15px; }
    .navbar .navbar-brand .a {
      padding: 0px; }
    .navbar .navbar-brand img {
      width: 80px;
      float: right; }
  .navbar .navbar-right img {
    width: 150px; }

.phone {
  background-color: #006698;
  height: 40px; }

.main {
  background: #0084c5;
  background: -moz-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #0084c5), color-stop(36%, #0489c3), color-stop(66%, #30cabf), color-stop(100%, #2fbcb2));
  background: -webkit-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -o-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: -ms-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  background: linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0084c5',endColorstr='#2fbcb2',GradientType=1);
  min-height: 500px; }

.bullets {
  display: table;
  width: 75%;
  float: left; }
  .bullets .ser-intro {
    margin-bottom: 30px; }
    .bullets .ser-intro h1 {
      font-size: 65px;
      font-weight: bold;
      color: white;
      letter-spacing: -5px;
      line-height: 55px; }
    .bullets .ser-intro h1, .bullets .ser-intro h4 {
      margin-top: 5px; }
  .bullets .ser {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-shadow: 0px 0px 1px #002853;
    letter-spacing: 2px; }
    .bullets .ser a {
      color: white; }
    @media (min-width: 768px) {
      .bullets .ser {
        width: 50%;
        float: left;
        display: table-cell; } }

@media (min-width: 768px) {
  .logoman-comp {
    float: right;
    width: 25%;
    height: 300px; } }
.logoman-comp img {
  height: 250px; }
  @media (min-width: 768px) {
    .logoman-comp img {
      float: right;
      height: 370px; } }

.intro-ser {
  text-align: center; }

.three-comps {
  width: 100%;
  display: table; }
  .three-comps .comp-box {
    margin: 10px;
    padding: 5%;
    text-align: center; }
  .three-comps p {
    color: gray; }
  @media (min-width: 768px) {
    .three-comps .comp {
      padding: 2%;
      width: 33.33%;
      display: table-cell; } }
  .three-comps .comp .comp1, .three-comps .comp .comp2, .three-comps .comp .comp3 {
    text-align: center; }
  .three-comps .comp img {
    width: 200px;
    margin: 0 auto; }

.our-service {
  width: 100%;
  background-image: url("../img/hr.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 20px;
  background-size: 100%; }
  @media (min-width: 768px) {
    .our-service {
      background-size: 60%; } }
  @media (min-width: 768px) {
    .our-service .dropdown {
      width: 70%;
      float: left; } }
  .our-service .dropdown .panel-heading {
    border-radius: 0px; }
  .our-service .dropdown .panel-default > .panel-heading {
    color: black;
    font-weight: bold;
    background-color: #ABBECE; }
  .our-service .needs {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 1px black; }
    @media (min-width: 768px) {
      .our-service .needs {
        float: right;
        width: 25%;
        margin-left: 10px; } }

.prices {
  width: 100%;
  background-image: url("../img/hr.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 20px;
  background-size: 100%; }
  .prices .prices-details {
    display: none; }
  .prices img {
    width: 100%; }
  .prices .virus-comp {
    width: 75%;
    float: left; }
    .prices .virus-comp .need-quote-call {
      background: #58ccef;
      /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #58ccef), color-stop(100%, #00a6e8));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, #58ccef 1%, #00a6e8 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at center, #58ccef 1%, #00a6e8 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ccef', endColorstr='#00a6e8',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      color: white;
      width: 90%;
      letter-spacing: 2px;
      padding: 1%;
      text-align: right;
      float: right; }
    .prices .virus-comp .img-virus-comp {
      width: 10%;
      float: left; }
      .prices .virus-comp .img-virus-comp img {
        min-width: 125px; }
  .prices .discount {
    width: 20%;
    float: right; }
  @media (min-width: 768px) {
    .prices {
      background-size: 60%; } }
  @media (min-width: 768px) {
    .prices .prices-details {
      display: block;
      padding: 15px;
      background-color: white; }
    .prices .small-table {
      display: none; } }

.service-areas {
  padding-top: 50px;
  width: 100%;
  background-image: url("../img/hr.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 20px;
  background-size: 100%; }
  @media (min-width: 768px) {
    .service-areas {
      background-size: 60%; } }
